<div class="container banner-logo mt-5">
  <div class="row">
    <div class="col-xs-12">
      <table border="0" cellspacing="0" cellpadding="10%">
        <tr>
          <td><img src="/images/logo2.png" alt="logo" width="100%" /></td>
          <td align="center"><img src="/images/homepage/banco.jpg" alt="banco" width="90%" /></td>
          <td><img src="/images/logo2.png" alt="logo" width="100%" /></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="container bg-home">
  <div class="row text-center mt-5">
    <div class="col-sm-12">
      <img src="/images/homepage/logo3.jpg" alt="VAL" class="logo3" />
    </div>
    <div class="col-sm-12 col-lg-2 offset-lg-5">
      <img src="/images/homepage/val.jpg" alt="VAL" width="100%" />
    </div>
    <div class="col-sm-12 col-lg-6 offset-lg-3 text-left">
      <h5>
        Utilizziamo “VAL” per ridurre l’utilizzo di Euro, superiamo le criticità dell’attuale sistema economico che limita la realizzazione e la circolazione dei servizi di cui abbiamo bisogno.
        <info-tooltip content="Convenzionalmente 1 VAL = 1 €uro.  Qualsivoglia sistema di scambio monetario o non monetario è una CONVENZIONE. Le persone, in determinate  circostanze temporali e ambientali, utilizzano e fanno buon uso di convenzioni per regolare i rapporti di scambio interpersonali." />
      </h5>
    </div>
  </div>
  <div class="row text-center mt-5">
    <div class="col-sm-12">
      <h1>La nostra  convenzione di scambio.</h1>
    </div>
    <div class="col-sm-12">
      <p>VAL.AZ.CO. VALorizzatore delle AZioni COncordate, o più semplicemente VAL</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row text-center mt-5 mb-5">
    <div class="col-sm-12">
      <h2>VALorizzatore per i vostri baratti e scambi</h2>
    </div>
    <div class="col-sm-12 col-md-6 offset-md-3 text-left">
      <p>Con questa piattaforma potete provare quello che vostra mente immagina...<br/>quel bel concetto di baratto e scambio, e realizzarlo concretamente.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5 pt-3">
    <div class="col-sm-12 col-md-4 offset-md-2">
      <p>
        Noi, consapevoli di quanto sta accadendo, vogliamo superare in solidarietà il sistema economico che sentiamo asfittico e limitante.
        <info-tooltip content="Le ristrettezze che vediamo e nelle quali siamo compresi sono la conseguenza di un sistema monetario che è improntato alla speculazione, alla  tesaurizzazione o all'accumulo di denaro. Siamo di fronte a un sistema che sospinge a realizzare denaro dal denaro e non favorisce le attività creative che producono servizi alle persone nel loro territorio." />
      </p>
    </div>
    <div class="col-sm-12 col-md-4">
      <figure class="figure">
        <img src="/images/homepage/woman.jpg" class="figure-img img-fluid rounded" style="width:70%;" alt="Barter">
      </figure>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-sm-12 col-md-4 offset-md-2">
      <figure class="figure">
        <img src="/images/homepage/grasp.jpg" class="figure-img img-fluid rounded" style="width:70%;" alt="Barter">
      </figure>
    </div>
    <div class="col-sm-12 col-md-4">
      <p>
        La Convenzione che realizziamo deve essere trasparente libera e democratica, a disposizione di tutti.
        <info-tooltip content="Tutti  noi, dal neonato all'anziano, desideriamo recuperare la nostra libertà e creatività. Vogliamo  mettere al servizio di tutti le nostre più elevate qualità intellettuali, artistiche e produttive, per favorire lo scambio di servizi utili e necessari  e superare le difficoltà  che inibiscono i servizi di cui  abbiamo bisogno." />
      </p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-sm-12 col-md-8 offset-md-2 shadow-lg p-5 mb-5 bg-white rounded">
      <p>
        Noi ci iscriviamo e usufruiamo del VAL che ci eroghiamo quale “contributo di emancipazione”. E lo utilizziamo.
        <info-tooltip content="Cerchiamo con consapevolezza di cambiare paradigma di questo sistema economico che sollecita contrapposizione e riduzione di beni e servizi circolanti, in ragione di un mercantilismo egoista e individualista che produce povertà e disuguaglianze.  Sistema che estrae  valore dal lavoro di molti a vantaggio di pochi, ed esalta valori competitivi estremi, eliminando le attività artigianali e commerciali locali, concentrando il potere in poche mani." />
      </p>
      <p>
        Al momento il Contributo che ci eroghiamo è di 6 VAL giornalieri.
        <info-tooltip content="Attualmente il contributo di emancipazione che NOI tutti convenzionati ci eroghiamo è di 6 VAL giornalieri, (corrispondenti a 6 Euro scritturali. 1 VAL = 1 €uro). Al momento dell’iscrizione  viene erogata una mensilità. Tutto l’erogato presente in circolazione viene ridotto del 6%  ogni 3 mesi.  Il contributo che  NOI ci eroghiamo,  per una adeguata gestione potremmo erogarlo e gestirlo  in misura diversa." />
      </p>
      <p>
        Che tu sia persona fisica o entità giuridica Iscriviti; in tempo reale ricevi una mensilità di 180 VAL pronti all’utilizzo.
        <info-tooltip content="Ricordiamoci che lo scopo del VAL è di favorire lo scambio e la circolazione dei servizi; nel caso di non  utilizzo, nessuno scambio di VAL  in 30 giorni, l’erogazione viene sospesa. L’erogazione sarà  riattivata dopo 30 giorni dalla ripresa di utilizzo." />
      </p>
      <p class="text-center"><a href="/signup" class="btn btn-outline-primary btn-lg">ISCRIVITI ORA</a></p>
    </div>
  </div>
</div>

<div style="background-color: rgba(238, 245, 249, 0.72);" class="py-5" purpose="scroll-destination">
  <div class="container pt-3">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <h2>Il VAL è finalizzato e utilizzabile  per:</h2>
      <ul>
        <li>
          Promuovere la circolazione degli scambi di qualsivoglia cose prodotti, servizi e competenze. utilizzando  meno Euro, o anche senza.
          <info-tooltip content="Ricordiamoci  che il valore convenzionale di un VAL è corrispondente ad un €uro, e lo dobbiamo spendere bene." />
        </li>
        <li>
          Favorire lo scambio e la gestione dei servizi comuni, il dono e il baratto, banche del tempo ecc.. senza utilizzo di Euro.
          <info-tooltip content="Possiamo riconoscere adeguato valore in VAL per attività volontarie, scambio di “tempo” e semplificare il baratto rendendolo asincrono, differito nel tempo. Contabilizzare, ottimizzare unificando la gestione e distribuzione dei servizi sociali ed  evitare sovrapposizioni delle attività nel sociale." />
        </li>
        <li>
          Valorizzare, contabilizzare e riconoscere  l’operato solidale volontario.
          <info-tooltip content="Attualmente l’operato del volontariato non è contabilizzato, pertanto quel valore  è perso. Potremmo riconoscerne il valore con adeguata congruità, metterlo in circolazione, renderlo spendibile." />
        </li>
        <li>
          Incentivare e incrementare le attività artigianali, agricole e commerciali affinché possano  essere potenzialmente concorrenziali  con un minor uso/costo  di Euro, senza impoverire il tessuto economico sociale. Il valore dello sconto lo facciamo circolare in VAL.
          <info-tooltip content="Aiutiamoci e solidarizziamo con le attività locali per non perdere i servizi sul territorio, riconosciamo in VAL lo sconto concordato. Acquistiamo sul territorio a km. Zero in una economia circolare locale. Favoriamo il mantenimento e la ricostruzione dei servizi utili e necessari, indispensabili in coesione solidale. Non riduciamo le marginalità che ridurrebbero ulteriormente i valori monetari circolanti e il nostro livello di qualità e di vita." />
        </li>
        <li>
          Ridurre i costi in Euro con adeguata complementare percentuale in VAL negli scambi e transazioni commerciali, locali, nazionali e internazionali.
          <info-tooltip content="Dove c’è scambio c’è vita. Non favoriamo il trasferimento  il lavoro e  valore  “altrove” , favoriamo lo scambio qui … sul nostro territorio, utilizziamo in percentuale meno Euro, diventiamo concorrenziali.  Compensiamo complementariamente il valore corrente con percentuale adeguata di VAL." />
        </li>
        <li>
          Migliorare i servizi delle amministrazioni pubbliche e private utilizzando il VAL in abbinamento promozionale o/e in complementarietà a pagamenti e incassi.
          <info-tooltip content="Realizziamo collaborazioni con le amministrazioni pubbliche, che valorizzano i servizi in quota VAL  e col loro patrocinio promuovono la circolazione sul loro territorio. Così facendo,  si creerebbe quel circuito virtuoso che ridurrebbe le difficoltà  alle amministrazioni locali, dovute  alla  scarsità di Euro." />
        </li>
        <li>
          Il VAL è Contributo di emancipazione, ed è disponibile subito con <a href="/signup">l’iscrizione qui.</a>
          <info-tooltip content="l VAL ,”contributo di esistenza in vita”, utilizzato come contabilizzatore nello scambio di prodotti e servizi, sollecita la creatività  e aiuta la realizzazione dei nostri progetti , non ha costi e non può essere  sottratto da terzi perché convenzione nostra." />
        </li>
        <li>
          I VAL sono caricati sul tuo conto/wallet/borsellino. Identificati col tuo nome utente/email e li puoi utilizzare e trasferire anche subito.
          <info-tooltip content="Il nome utente viene utilizzato come identificativo del conto. I trasferimenti di VAL vengono effettuati da username a username." />
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-sm-12 text-center">
      <h2>Il VAL è disponibile, proponi i tuoi scambi e utilizzalo subito.</h2>
    </div>
    <div class="col-sm-12 col-md-8 offset-md-2">
      <p>Puoi richiedere una quota netta o in percentuale di VAL quale facilitatore dello scambio, agli utenti locali della tua zona o su qualsivoglia sito di e-commerce che conosci e sul quale operi. Il nostro e-commerce è <a href="https://www.pagineazzurre.net/">www.pagineazzurre.net</a></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row text-center mt-5 mb-5">
    <div class="col-sm-12">
      <small>Se sei un programmatore o sei esperto nel settore informatico potresti voler contribuire al progetto. Guarda ora il <a href="https://codeberg.org/gbrt/valazco-webapp">codice sorgente.</a></small>
    </div>
  </div>
</div>

